.order{

  .form-control{
    color: #3398B3;
    background-color: #BDE5ED;
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  hr{
    height: 1px;
    background: #5ABCD3;
  }
}

.cart{

  #total{
    color: red
  }

  hr{
    background: black;
  }
}

#custom-collapse{

  #panel-heading{
    padding: 10px 15px;
    background-color: white;
  }

  h4{
    color: #3398B3;
  }
}
