.book-show{

  .sharer-0 label {
    background: #E98D23;
    color: white;
  }

  .sharer-0 .social.networks-4.center {
    margin-left: 0px;
  }

  .sharer-0 .social ul li{
    width: 30px;
    height: 28px;
    padding: 0px;
  }

  .sharer-0 .social.top{
    margin-top: -53px;
  }

  #share-link{
    margin-top: 4%;
  }

  #share-link-sx{

  }

  .price-image{
    background-image: image-url('buy-book.png');
    width: 121px;
    height: 35px;
  }

  .dl-horizontal dt{
    text-align: left;
    width: 60px;
    height: 40px;
  }

  .price{
    padding-top: 5px;
    display: flex;
  }

  .rate{
    padding-top: 4px;
  }

  .dl-horizontal dd{
    margin-left: 50px;
    height: 40px;
  }

  .book-image{
    width: 100%;
    position: relative;
  }

  .book-image-small{
    width: 58%;
    position: relative;
  }

  h3{
    font: normal 20px "Roboto";
    color: #2D2D2D
  }

  .star{
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
  }

  .details{
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction:row;
  }

  hr{
    height: 1px;
    background: #5ABCD3;
  }
}
