// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.header{
  .row{
    background: #5ABCD3;
    height: 17mm;
  }

  .page-name-row{
    background: #3398B3;
    height: 10mm;
    font: normal 25px "Roboto";
    color: #FFF;
    padding-left: 20px;
  }

  .col-md-8{

    img{
      float: left;
      margin-left: 20px;
      margin-right: 20px;
    }

    #searchpanel{
      width: 41%;
      margin-top: 10px;
      padding: 3px;
      background: #FFFFFF;
      float:left;
      font: normal 14px "Roboto medium";
      color: #3398B3;

      .btn-group{
        float: left;
        width: 25%;
      }

      button{
        background-color: #5ABCD3;
        font: normal 17px "Roboto medium";
        height: 32px;
        width: 10%;
        float: right;
        color: #BDE5ED;
        margin-right: 3px;
        border: 0px;
        vertical-align: middle;
      }

      .search{
        margin: 2px;
        height: 30px;
        width: 60%;
        vertical-align: middle;
      }
    }
  }

  .col-md-4{
    height: 100%;
    font: normal 17px "Roboto medium";
    color: #BDE5ED;
  }
}

.col-md-4{
  float: right;
}

#right-panel{
  position:absolute;
  left: 25%;
  top: 25%;

  a{
    font: normal 17px "Roboto medium";
    color: #BDE5ED;
  }

  p{
    display: inline;
    padding-right: 10px;
  }

}

.search {
  background: none repeat scroll 0 0 #fff;
  border: 0 none;
  color: #7F7F7F;
  float: left;
  font: 12px 'Helvetica','Lucida Sans Unicode','Lucida Grande',sans-serif;
  height: 22px;
  margin: 0;
  padding: 10px;
  transition: background 0.3s ease-in-out 0s;
  width: 300px;
}

.modal-content {
  width: 350px;
}

.modal-dialog {
  .header{
    padding-top: 5px;
    background-color: #5ABCD3;
    font: normal 36px "Lobster 1.3";
    padding-bottom: 5px;
  }

  hr{
    size: 1px;
    margin-bottom: 20px;
  }

  h2{
    text-align: left;
    font: normal 36px "Lobster 1.3";
    color: #FFF;
  }

  h3{
    text-align: left;
    display: inline-block;
    margin-top: 7px;
    font: normal 18px "Lobster 1.3";
    color: #5ABCD3;
  }

  a{
    color: #BDE5ED;
  }

  .sign_in{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;

    .btn-sign-in{
      vertical-align: middle;
      padding-top: 15px;
      padding-right: 9px;
    }

    input[type=checkbox]{
      vertical-align: top;
      -webkit-appearance:none;
      width: 15px;
      height: 15px;
      background:white;
      border-radius:0px;
      margin-left: 3px;
      border:2px solid #5ABCD3;
    }

    input[type=checkbox]:checked {
        background: #3398B3;
    }

    .image-button{
      background-image: image-url('sign-in.png');
    }
  }
  .review{
    margin-left: 20px;
    margin-right: 20px;

    textarea{
      width: 100%;
    }

    .image-button{
      margin-top: 10px;
      float: center;
      margin-bottom: 20px;
      background-image: image-url('btn-submit.png');
    }
  }

  .sign_up{
    margin-left: 20px;

    .image-button{
      margin-top: 10px;
      float: center;
      background-image: image-url('btn-submit.png');
    }
  }

  .bluebox{
    background-color: #BDE5ED;
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300px;
  }

  .input-group{
    margin-top: 10px;
    width: 55%
  }

  .submit-btn{
    float: right;
    color: #fff;
    border-radius: 0px;
    background-color: #5ABCD3;
  }

  .sign-up-button{
    float: right;
    margin-bottom: 20px;
    margin-right: 9px;
  }

  .image-button{
    float: right;
    color:transparent;
    width: 80px;
    height: 40px;
    border: 0px;
  }
}

.error{
  color: red;
}

.col-sm-3{
  margin-top: 17px;
}

.col-sm-9{
  margin-top: 10px;
}

.btn-primary{
  background-color: #BDE5ED;
  border: 0px;
  color: #FFF;
  margin-top: 10px;
}

.btn-default{
  margin-top: 10px;
}

.new_user{
  li{
    color: red;
  }

  h2{
    margin-top: 0px;
    font: normal 25px "Roboto black";
    color: #3398B3;
  }
}

.edit_user{
  li{
    color: red;
  }

  h2{
    margin-top: 0px;
    font: normal 25px "Roboto black";
    color: #3398B3;
  }
}

.thumbnail {
  height: 150px;

  img {
    display: inline;
    width: 80px;
    margin-right: 5px;
    margin-bottom: 5px;
    position: absolute;
 }

 .caption{
  margin-left: 100px;

  .star{
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
  }

  h4{
    margin-top: 0px;

    a{
      color: #5ABCD3;
    }
  }
 }
}

.book-price{
  width: 121px;
  height: 35px;
  background-image: image-url('buy-book.png');

  a{
    padding-top: 7px;
    display:block;
    height: 35px;
    padding-left: 9px;
    color: white;
  }
  a:hover
  {
    color: white;
  }
}

#per_page{
  margin-left: 5px;
  width: 50px;
  border-color: #3398B3;
  border-radius: 0px;
  display: inline-block;
}

.book-per-page{
  margin-top: 20px;
  margin-left: 15px;
}

.pagination{
  float: right;
}
